.container {
	--_container-color: var(--m3-button-container-color, transparent);
	--_label-color: var(--m3-button-label-color, inherit);
	--_icon-color: var(--m3-button-icon-color, currentColor);
	--_container-shape: var(--m3-button-container-shape);
	--_disabled-container-color: var(
		--m3-button-disabled-container-color,
		oklab(from var(--m3c-on-surface) l a b / 0.12)
	);
	--_disabled-label-color: var(
		--m3-button-disabled-label-color,
		oklab(from var(--m3c-on-surface) l a b / 0.38)
	);
	--_container-elevation: var(--m3-button-container-elevation, none);
	--_hover-container-elevation: var(
		--m3-button-hover-container-elevation,
		var(--_container-elevation)
	);

	display: inline-flex;
	border: none;
	transition:
		border-radius var(--m3-easing-fast-spatial),
		box-shadow var(--m3-easing-fast),
		background-color var(--m3-easing-fast),
		color var(--m3-easing-fast);
	align-items: center;
	justify-content: center;
	background-color: var(--_container-color);
	color: var(--_label-color);
	box-shadow: var(--_container-elevation);
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	white-space: nowrap;

	gap: 0.5rem;

	& > :global(*) {
		flex-shrink: 0;
		color: var(--_icon-color);
	}

	&:disabled {
		background-color: var(--_disabled-container-color);
		color: var(--_disabled-label-color);
		cursor: default;
		pointer-events: none;
	}
}

/* Size variants */
.xs {
	--_height: var(--m3-button-container-height, 2rem);
	height: var(--_height);
	padding: 0 0.75rem;
	border-radius: var(--_container-shape, 1rem);

	&.square {
		border-radius: var(--_container-shape, var(--m3-shape-medium));
	}

	&.icon-only {
		width: var(--_height);
		padding: 0;
	}
}

.s {
	--_height: var(--m3-button-container-height, 2.5rem);
	height: var(--_height);
	padding: 0 1rem;
	border-radius: var(--_container-shape, 1.25rem);

	&.square {
		border-radius: var(--_container-shape, var(--m3-shape-medium));
	}

	&.icon-only {
		width: var(--_height);
		padding: 0;
	}
}

.m {
	--_height: var(--m3-button-container-height, 3.5rem);
	height: var(--_height);
	padding: 0 1.5rem;
	border-radius: var(--_container-shape, 1.75rem);

	&.square {
		border-radius: var(--_container-shape, var(--m3-shape-large));
	}

	&.icon-only {
		width: var(--_height);
		padding: 0;
	}
}

.l {
	--_height: var(--m3-button-container-height, 6rem);
	height: var(--_height);
	padding: 0 3rem;
	gap: 0.75rem;
	border-radius: var(--_container-shape, 3rem);

	&.square {
		border-radius: var(--_container-shape, var(--m3-shape-extra-large));
	}

	&.icon-only {
		width: var(--_height);
		padding: 0;
	}
}

.xl {
	--_height: var(--m3-button-container-height, 8.5rem);
	height: var(--_height);
	padding: 0 4rem;
	gap: 1rem;
	border-radius: var(--_container-shape, 4.25rem);

	&.square {
		border-radius: var(--_container-shape, var(--m3-shape-extra-large));
	}

	&.icon-only {
		width: var(--_height);
		padding: 0;
	}
}

/* Style variants */
.elevated {
	--_container-color: var(
		--m3-button-container-color,
		var(--m3c-surface-container-low)
	);
	--_label-color: var(--m3-button-label-color, var(--m3c-primary));
	--_container-elevation: var(
		--m3-button-container-elevation,
		var(--m3-elevation-1)
	);
	--_hover-container-elevation: var(
		--m3-button-hover-container-elevation,
		var(--m3-elevation-2)
	);

	&:not(:disabled):not(:has(> input:disabled)):has(> input:checked) {
		--_container-color: var(
			--m3-button-selected-container-color,
			var(--m3c-primary)
		);
		--_label-color: var(
			--m3-button-selected-label-color,
			var(--m3c-on-primary)
		);
	}

	@media (hover: hover) {
		&:not(:disabled):not(:has(> input:disabled)):hover {
			box-shadow: var(--_hover-container-elevation);
		}
	}
}

.filled {
	--_container-color: var(--m3-button-container-color, var(--m3c-primary));
	--_label-color: var(--m3-button-label-color, var(--m3c-on-primary));

	&:not(:disabled):not(:has(> input:disabled)):has(> input:not(:checked)) {
		--_container-color: var(
			--m3-button-unselected-container-color,
			var(--m3c-surface-container)
		);
		--_label-color: var(
			--m3-button-unselected-label-color,
			var(--m3c-on-surface-variant)
		);
	}
}

.tonal {
	--_container-color: var(
		--m3-button-container-color,
		var(--m3c-secondary-container)
	);
	--_label-color: var(
		--m3-button-label-color,
		var(--m3c-on-secondary-container)
	);

	&:not(:disabled):not(:has(> input:disabled)):has(> input:not(:checked)) {
		--_container-color: var(
			--m3-button-unselected-container-color,
			var(--m3c-surface-container)
		);
		--_label-color: var(
			--m3-button-unselected-label-color,
			var(--m3c-on-surface-variant)
		);
	}
}

.outlined {
	--_outline-color: var(--m3-button-outline-color, var(--m3c-outline));
	--_label-color: var(--m3-button-label-color, var(--m3c-primary));
	border: solid var(--m3-button-outline-width, 1px) var(--_outline-color);

	&:not(:disabled):not(:has(> input:disabled)):has(> input:checked) {
		--_container-color: var(
			--m3-button-selected-container-color,
			var(--m3c-inverse-surface)
		);
		--_label-color: var(
			--m3-button-selected-label-color,
			var(--m3c-inverse-on-surface)
		);
		border-color: transparent;
	}
}

.text {
	--_label-color: var(--m3-button-label-color, var(--m3c-primary));

	&:not(:disabled):not(:has(> input:disabled)):has(> input:checked) {
		--_container-color: var(
			--m3-button-selected-container-color,
			var(--m3c-surface-container)
		);
		--_label-color: var(
			--m3-button-selected-label-color,
			var(--m3c-on-surface-variant)
		);
	}
}

/* Accessibility */
@media screen and (forced-colors: active) {
	.container {
		&.elevated,
		&.filled,
		&.tonal {
			background-color: transparent;
			border: 1px solid;
		}

		&:disabled {
			opacity: 0.38;
		}
	}
}
