.container {
	--_container-color: var(
		--m3-menu-container-color,
		var(--m3c-surface-container)
	);
	--_container-shape: var(
		--m3-menu-container-shape,
		var(--m3-shape-extra-small)
	);
	--_container-elevation: var(
		--m3-menu-container-elevation,
		var(--m3-elevation-2)
	);

	display: flex;
	position: relative;
	flex-direction: column;
	padding: var(--m3-menu-container-padding, 0.5rem 0);
	border-radius: var(--_container-shape);
	min-width: var(--m3-menu-container-min-width, 7rem);
	max-width: var(--m3-menu-container-max-width, 17.5rem);
	background-color: var(--_container-color);
	z-index: 2;
	box-shadow: var(--_container-elevation);
}
