.item {
	--_container-color: var(--m3-menu-item-container-color, transparent);
	--_container-height: var(--m3-menu-item-container-height, 3rem);
	--_label-color: var(--m3-menu-item-label-color, var(--m3c-on-surface));
	--_icon-color: var(--m3-menu-item-icon-color, var(--m3c-on-surface-variant));
	--_disabled-label-color: var(
		--m3-menu-item-disabled-label-color,
		oklab(from var(--m3c-on-surface) l a b / 0.38)
	);
	--_disabled-icon-color: var(
		--m3-menu-item-disabled-icon-color,
		oklab(from var(--m3c-on-surface) l a b / 0.38)
	);

	font-family: var(--m3-menu-item-label-font, var(--m3-font));
	font-size: var(--m3-menu-item-label-size, 0.875rem);
	line-height: var(--m3-menu-item-label-line-height, 1.429);
	font-weight: var(--m3-menu-item-label-weight, 500);
	display: flex;
	align-items: center;
	height: calc(var(--_container-height) * var(--m3-density-scale, 1));
	padding: 0 0.75rem;
	gap: 0.75rem;
	white-space: nowrap;
	border: none;
	background-color: var(--_container-color);
	color: var(--_label-color);
	cursor: pointer;

	&:disabled {
		color: var(--_disabled-label-color);
		cursor: auto;

		& .icon :global(svg) {
			color: var(--_disabled-icon-color);
		}
	}
}

.icon {
	color: var(--_icon-color);
}
