.container {
	--_track-color: var(--m3-switch-track-color, var(--m3c-surface-container-highest));
	--_track-outline-color: var(--m3-switch-track-outline-color, var(--m3c-outline));
	--_track-shape: var(--m3-switch-track-shape, var(--m3-shape-full));
	--_handle-color: var(--m3-switch-handle-color, var(--m3c-outline));
	--_handle-shape: var(--m3-switch-handle-shape, var(--m3-shape-full));
	--_selected-track-color: var(--m3-switch-selected-track-color, var(--m3c-primary));
	--_selected-handle-color: var(--m3-switch-selected-handle-color, var(--m3c-on-primary));
	--_icon-color: var(--m3-switch-icon-color, var(--m3c-surface-container-highest));
	--_selected-icon-color: var(--m3-switch-selected-icon-color, var(--m3c-on-primary-container));

	display: inline-flex;
	position: relative;
	width: 3.25rem;
	height: 2rem;
	transition: transform var(--m3-easing-fast-spatial);

	& input {
		appearance: none;
		width: 3.25rem;
		height: 2rem;
		margin: 0;
		border-radius: var(--_track-shape);
		background-color: var(--_track-color);
		border: solid 0.125rem var(--_track-outline-color);
		cursor: pointer;
		transition: var(--m3-easing);

		&:disabled {
			background-color: oklab(from var(--m3c-surface-container-highest) l a b / 0.12);
			border-color: oklab(from var(--m3c-outline) l a b / 0.12);
			cursor: auto;
		}

		&:checked {
			background-color: var(--_selected-track-color);
			border-color: var(--_selected-track-color);
		}

		&:disabled:checked {
			background-color: oklab(from var(--m3c-on-surface) l a b / 0.12);
			border-color: transparent;
		}
	}
}

.handle {
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: var(--_handle-shape);
	background-color: var(--_handle-color);
	color: var(--m3c-on-on-primary);
	cursor: pointer;
	transition: var(--m3-easing-fast-spatial);
	left: 0.5rem;
	top: 50%;
	translate: 0 -50%;
	display: flex;
	align-items: center;
	justify-content: center;
	rotate: -90deg;

	& svg {
		opacity: 0;
		transition:
			opacity var(--m3-easing-fast-spatial),
			scale var(--m3-easing-fast-spatial);
	}
}

.container input {
	&:not(:checked) + .handle:has(.iconUnchecked) {
		scale: 1.5;

		& svg {
			color: var(--_icon-color);
			scale: 0.667;
			opacity: 1;
		}
	}

	&:checked + .handle .iconUnchecked,
	&:not(:checked) + .handle .iconChecked {
		display: none;
	}

	&:checked + .handle {
		background-color: var(--_selected-handle-color);
		scale: 1.5;
		left: 1.75rem;
		rotate: 0deg;

		& svg {
			scale: 0.667;
			opacity: 1;
		}
	}

	&:disabled + .handle {
		background-color: oklab(from var(--m3c-on-surface) l a b / 0.38);
		cursor: auto;
	}

	&:disabled:checked + .handle {
		background-color: var(--m3c-surface);

		& svg {
			color: oklab(from var(--m3c-on-surface) l a b / 0.38);
		}
	}
}

.container {
	&:hover input:not(:checked):not(:disabled) + .handle,
	&:active input:not(:checked):not(:disabled) + .handle {
		background-color: var(--m3c-on-surface-variant);
	}

	&:hover input:enabled:checked + .handle,
	& input:enabled:checked:is(:active, :focus-visible) + .handle {
		background-color: var(--m3c-primary-container);
		color: var(--_selected-icon-color);
	}

	&:active input:enabled + .handle {
		scale: 1.75;

		& svg {
			scale: 0.571;
		}
	}
}

.hover {
	position: absolute;
	width: 3rem;
	height: 3rem;
	border-radius: var(--m3-shape-full);
	cursor: pointer;
	transition: var(--m3-easing-fast);
	left: 1rem;
	top: 50%;
	translate: -50% -50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container input {
	&:checked ~ .hover {
		left: 2.25rem;
	}

	&:disabled ~ .hover {
		display: none;
	}
}

@media (hover: hover) {
	.container:hover input {
		& ~ .hover {
			background-color: oklab(from var(--m3c-on-surface) l a b / 0.08);
		}

		&:checked ~ .hover {
			background-color: oklab(from var(--m3c-primary) l a b / 0.08);
		}
	}
}
