m3-ripple,
.m3-ripple-svg {
	position: absolute;
	inset: 0px;
	/* TODO: Currently ListItem styles conflict with this. Fix this */
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	border-radius: inherit;
	pointer-events: none;
}

:where(.m3-ripple) {
	position: relative;
	-webkit-tap-highlight-color: transparent;

	/* Hitbox for rounded elements */
}

:where(.m3-ripple)::before {
	content: "";
	position: absolute;
	inset: 0;
}

/* Tint */
:where(.m3-ripple)::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	pointer-events: none;
	background-color: currentColor;
	opacity: 0;
	transition: opacity var(--m3-easing-fast);
}

:disabled.m3-ripple::after,
label:has(> input:disabled).m3-ripple::after {
	display: none;
}

@media (hover: hover) {
	:hover.m3-ripple::after {
		opacity: 0.08;
	}

	:active.m3-ripple::after {
		opacity: 0.12;
	}
}

:focus-visible.m3-ripple::after,
label:has(> input:focus-visible).m3-ripple::after,
html:not([data-m3-js-ripple]) :active.m3-ripple::after {
	opacity: 0.12;
}
