m3-ripple,
.m3-ripple-svg {
	position: absolute;
	inset: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	border-radius: inherit;
	pointer-events: none;
}

:where(.m3-ripple) {
	position: relative;
	isolation: isolate;
	-webkit-tap-highlight-color: transparent;

	/* Hitbox for rounded elements */
}

/* Tint */
:where(.m3-ripple)::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	border-radius: inherit;
	pointer-events: none;
	background-color: currentColor;
	opacity: 0;
	transition: opacity var(--m3-easing-fast);
}

:disabled.m3-ripple::before,
label:has(> input:disabled).m3-ripple::before {
	display: none;
}

@media (hover: hover) {
	.m3-ripple:not(
			:has(.m3-ripple:hover, .m3-ripple:focus-visible, .m3-ripple:active)
		) {
		&:hover::before {
			opacity: 0.08;
		}

		&:focus-visible::before {
			opacity: 0.1;
		}

		&:active::before {
			opacity: 0.12;
		}
	}
}

:focus-visible.m3-ripple::before,
label:has(> input:focus-visible).m3-ripple::before,
html:not([data-m3-js-ripple]) :active.m3-ripple::before {
	opacity: 0.12;
}
