.displayLarge {
	font-family: var(--m3-font);
	font-size: 3.563rem;
	line-height: 1.123;
	font-weight: 400;
}

.displayMedium {
	font-family: var(--m3-font);
	font-size: 2.813rem;
	line-height: 1.156;
	font-weight: 400;
}

.displaySmall {
	font-family: var(--m3-font);
	font-size: 2.25rem;
	line-height: 1.222;
	font-weight: 400;
}

.headlineLarge {
	font-family: var(--m3-font);
	font-size: 2rem;
	line-height: 1.25;
	font-weight: 400;
}

.headlineMedium {
	font-family: var(--m3-font);
	font-size: 1.75rem;
	line-height: 1.286;
	font-weight: 400;
}

.headlineSmall {
	font-family: var(--m3-font);
	font-size: 1.5rem;
	line-height: 1.333;
	font-weight: 400;
}

.titleLarge {
	font-family: var(--m3-font);
	font-size: 1.375rem;
	line-height: 1.273;
	font-weight: 400;
}

.titleMedium {
	font-family: var(--m3-font);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 500;
}

.titleSmall {
	font-family: var(--m3-font);
	font-size: 0.875rem;
	line-height: 1.429;
	font-weight: 500;
}

.labelLarge {
	font-family: var(--m3-font);
	font-size: 0.875rem;
	line-height: 1.429;
	font-weight: 500;
}

.labelMedium {
	font-family: var(--m3-font);
	font-size: 0.75rem;
	line-height: 1.333;
	font-weight: 500;
}

.labelSmall {
	font-family: var(--m3-font);
	font-size: 0.688rem;
	line-height: 1.455;
	font-weight: 500;
}

.bodyLarge {
	font-family: var(--m3-font);
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
}

.bodyMedium {
	font-family: var(--m3-font);
	font-size: 0.875rem;
	line-height: 1.429;
	font-weight: 400;
}

.bodySmall {
	font-family: var(--m3-font);
	font-size: 0.75rem;
	line-height: 1.333;
	font-weight: 400;
}

.focusedOutward {
	animation: m3-focus-outward 0.6s cubic-bezier(0.14, 5.63, 0.4, 0.5) forwards;
}

.focusedInward {
	animation: m3-focus-inward 0.6s cubic-bezier(0.14, 5.63, 0.4, 0.5) forwards;
}

.focusNone {
	animation: none;
}

.focusInward:focus-visible {
	animation: m3-focus-inward 0.6s cubic-bezier(0.14, 5.63, 0.4, 0.5) forwards;
}
