.container {
	composes: containerBase from "./shared.module.css";
	--_container-shape: var(
		--m3-outlined-text-field-container-shape,
		var(--m3-shape-extra-small)
	);
	--_outline-color: var(
		--m3-outlined-text-field-outline-color,
		var(--m3c-outline)
	);
	--_outline-width: var(--m3-outlined-text-field-outline-width, 1px);
	--_focus-outline-color: var(
		--m3-outlined-text-field-focus-outline-color,
		var(--m3c-primary)
	);
	--_focus-outline-width: var(
		--m3-outlined-text-field-focus-outline-width,
		0.125rem
	);
	--_hover-outline-color: var(
		--m3-outlined-text-field-hover-outline-color,
		var(--m3c-on-surface)
	);
	--_error-outline-color: var(
		--m3-outlined-text-field-error-outline-color,
		var(--m3c-error)
	);
	--_error-label-color: var(
		--m3-outlined-text-field-error-label-color,
		var(--m3c-error)
	);
	--_label-background-color: var(
		--m3-outlined-text-field-label-background-color,
		var(--m3v-background)
	);
}

.container :is(input, textarea) {
	padding: 1rem;
	border-radius: var(--_container-shape);
	background-color: transparent;
}

.container textarea {
	resize: none;
}

.container label {
	inset-inline-start: 0.75rem;
	background-color: var(--_label-background-color);
	padding: 0 0.25rem;
}

/* Label states */

.container :is(input, textarea):focus ~ label,
.container :is(input, textarea):not(:placeholder-shown) ~ label {
	font-size: 0.75rem;
	line-height: 1.333;
	top: 0;
}

/* Error state labels */
.error label {
	color: var(--_error-label-color);
}

.error :is(input, textarea):enabled:hover:not(:focus) ~ label,
.error :is(input, textarea):focus ~ label {
	color: var(--_error-label-color);
}

/* Border layer */
.layer {
	composes: layerBase from "./shared.module.css";
	border: var(--_outline-width) solid var(--_outline-color);
	border-radius: var(--_container-shape);
}

.container :is(input, textarea):enabled:hover:not(:focus) ~ .layer {
	border-color: var(--_hover-outline-color);
}

.container :is(input, textarea):focus ~ .layer {
	border-color: var(--_focus-outline-color);
	border-width: var(--_focus-outline-width);
}

/* Error state layer */
.error .layer {
	border-color: var(--_error-outline-color);
}

.error :is(input, textarea):enabled:hover:not(:focus) ~ .layer,
.error :is(input, textarea):focus ~ .layer {
	border-color: var(--_error-outline-color);
}
