.toggle {
	&.detached {
		position: fixed;
		z-index: 9;
		top: 44px;
		left: 20px;

		&.inline {
			position: absolute;
		}
	}

	> :global(svg) {
		transform: rotate(-180deg);
		transition: transform var(--m3-easing);

		.open > & {
			transform: rotate(0deg);
		}
	}
}
